# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Gradle
.gradle/
build/
**/build/

# Kotlin
.kotlin/

# Local SDK / machine-specific config
local.properties

# Android
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
captures/
.externalNativeBuild/
.cxx/
output.json
*.hprof

# Signing / secrets
*.jks
*.keystore
*.pem

# Logs
*.log

# IntelliJ / Android Studio
*.iml
.idea/

# Xcode / iOS
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

iosApp/iosApp.xcodeproj/project.xcworkspace/
iosApp/iosApp.xcodeproj/xcuserdata/
iosApp/iosApp.xcworkspace/
**/xcuserdata/

# CocoaPods (if added later)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
